# Data Engineering Zoomcamp - Week 3: Inspect fhv data

This notbook is part of the Data Engineering Zoomcamp 2023 and explores the dataset needed for the week3 homework as specified [here](../../homework.md).

In [1]:
import pandas as pd                             # to help with dataframes
import os                                       # to help with system calls
from sqlalchemy import create_engine            # to help with named arguments
from time import time                           # to help with timing
import unittest                                 # to help with unit testing

In [3]:
pd.__version__

'1.5.2'

## Step 1: Import Data

We import the `fhv_tripdata_2019-01.csv.gz` we downloaded beforehand using pandas

In [11]:
fhv_url = "https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhv/fhv_tripdata_2019-01.csv.gz"
peak_df = pd.read_csv("data/fhv/fhv_tripdata_2019-01.csv.gz", nrows=100)

## Step 2: Explore and prepare data

Now we take a look at the column typed and clean the data where necessary

- we see that columns 2 and three are dates and we will use the dtypes argument in read_csv to convert them to in our flow

In [12]:
peak_df.head(n = 100)

,dispatching_base_num,pickup_datetime,dropOff_datetime,PUlocationID,DOlocationID,SR_Flag,Affiliated_base_number
0,B00001,2019-01-01 00:30:00,2019-01-01 02:51:55,NaN,NaN,NaN,B00001
1,B00001,2019-01-01 00:45:00,2019-01-01 00:54:49,NaN,NaN,NaN,B00001
2,B00001,2019-01-01 00:15:00,2019-01-01 00:54:52,NaN,NaN,NaN,B00001
3,B00008,2019-01-01 00:19:00,2019-01-01 00:39:00,NaN,NaN,NaN,B00008
4,B00008,2019-01-01 00:27:00,2019-01-01 00:37:00,NaN,NaN,NaN,B00008
...,...,...,...,...,...,...,...
95,B00248,2019-01-01 00:11:09,2019-01-01 00:20:59,NaN,265.0,NaN,B00248
96,B00248,2019-01-01 00:52:34,2019-01-01 01:01:06,NaN,265.0,NaN,B00248
97,B00248,2019-01-01 00:17:44,2019-01-01 00:24:03,NaN,265.0,NaN,B00248
98,B00248,2019-01-01 00:00:10,2019-01-01 00:33:26,NaN,265.0,NaN,B00248
99,B00248,2019-01-01 00:06:00,2019-01-01 00:36:23,NaN,265.0,NaN,B00248

### explore column types

In [13]:
# explore data
# peak_df.shape    # number of rows and columns
# peak_df.columns  # column names
# peak_df.dtypes   # column types
peak_df.info()   # index, column names, non-null counts and memory usage

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 7 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   dispatching_base_num    100 non-null    object
 1   pickup_datetime         100 non-null    object
 2   dropOff_datetime        100 non-null    object
 3   PUlocationID            0 non-null      float64
 4   DOlocationID            74 non-null     float64
 5   SR_Flag                 0 non-null      float64
 6   Affiliated_base_number  100 non-null    object
dtypes: float64(3), object(4)
memory usage: 5.6+ KB